body {
    background: linear-gradient(180deg, lightgreen, #dbc720, #c75936, #2b91af, currentColor, #090032);
    overflow-x: hidden;
    width: 100%;
}



main {
    background-image: url('https://cdn.discordapp.com/attachments/935338634503143515/941242960551506001/Stars_background.png');
    background-size: 72%;
    background-position-y: 16%;
    background-position-x: 4%;
    background-repeat: revert;
}


#informacoes-do-script {
    background: linear-gradient(180deg, #9fd291, #a0d885, #a2de7b, #a4e372ba);
}