@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Island+Moments&family=Licorice&family=Montserrat:wght@400600&family=Roboto+Condensed&family=Roboto+Mono:wght@300&display=swap");
.cabecalho {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px;
  background-color: #a9b1a06e;
}

a {
  color: none;
  text-decoration: none;
}

a:hover {
  color: none;
  text-decoration: none;
}

.cabecalho-identificador {
  border-left: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom, rgba(194, 46, 142, 0.5), rgba(77, 73, 73, 0.25));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5%;
  margin-top: 1%;
  margin-right: 3%;
  margin-left: 4%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.cabecalho-identificador:hover {
  text-shadow: 0 0 3cm yellow;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.cabecalho-identificador h3 {
  font-size: 1.5em;
  color: rgba(240, 255, 255, 0);
  -webkit-text-stroke: 0.7px;
  -webkit-text-stroke-color: #262626;
  display: block;
  padding: 0.3%;
}

.cabecalho-identificador h3:hover {
  color: rgba(240, 255, 255, 0.46);
  -webkit-text-stroke: 1px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.cabecalho-menu {
  margin-top: 1%;
  padding: 1em;
  /* border: 3px solid red */
}

.cabecalho-menu-item, .cabecalho-menu-item:hover {
  font-size: 1.3em;
  font-family: 'Roboto Mono', monospace;
  font-weight: 900;
  white-space: nowrap;
  color: #6ccc1d;
  text-shadow: 2px 3px 3px rgba(68, 68, 68, 0.515);
  position: relative;
  margin-right: 4.2em;
  /* border: 2px solid blue */
}

#Ordem-crescente::before {
  content: "R$⬆";
  font-size: 0.5em;
  opacity: 0;
  position: absolute;
  right: 110%;
  bottom: -100%;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

#Ordem-crescente:hover::before {
  font-size: 1.4em;
  opacity: 1;
  position: absolute;
  right: 101.2%;
  bottom: 84%;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

#Ordem-decrescente::before {
  content: "R$⬇";
  font-size: 0.5em;
  opacity: 0;
  position: absolute;
  right: 109%;
  bottom: -100%;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

#Ordem-decrescente:hover::before {
  font-size: 1.4em;
  opacity: 1;
  position: absolute;
  right: 101%;
  bottom: 84%;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

#Github-link::after {
  content: "...";
  position: relative;
  opacity: 0;
  top: -20px;
  font-size: small;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#Github-link:hover::after {
  font-weight: bolder;
  text-shadow: 2px 3px 3px rgba(68, 68, 68, 0.515);
  color: #09c71f;
  opacity: 1;
  top: 0px;
  font-size: large;
  -webkit-transition: all 1s;
  transition: all 1s;
}
/*# sourceMappingURL=header.css.map */