.informacoes-do-script {
    margin-top: 2%;
    margin-left: 6%;
    padding-left: 0.6%;
    padding-bottom: 0.9%;
    border-left: 8px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient( to bottom,  rgba(94, 172, 15, 0.556), rgb(107, 105, 105));

}

.informacoes-do-script p {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.4em;
    font-style: italic;
    font-weight: bold;
    padding: 1.5em 0 0 0;
}